<div class="container">
  <div class="block-table">
    <div class="title">
      <div class="logo"></div>
      <h1>Судові рішення</h1>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th (click)="sortByYear()" class="sort">Рік</th>
        <th
          *ngFor="let item of columnNames"
          (click)="sort($event)"
          class="sort">{{item}}</th>

      </tr>
      </thead>
      <tbody >
      <tr *ngFor="let row of rows ">
        <th>{{row.year}}</th>
        <td *ngFor="let column of columnNames">{{row.values.get(column) != 0 ? row.values.get(column) : ""}}</td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <th>Всі</th>
        <td *ngFor="let addition of total">{{addition}}</td>
      </tr>
      </tfoot>
    </table>
  </div>
  <div class="block-chart">
    <div class="chart-container" style="position: relative; width:45vw; padding-top: 15px;">
      <canvas id="canvas"></canvas>
    </div>
  </div>
</div>
